*.o
.*.swp
Makefile
autom4te.cache
config.log
config.status
config/test-driver
man
src/.deps
src/bayesol
src/config.h
src/dbacl
src/hmine
src/hypex
src/mailcross
src/mailfoot
src/mailinspect
src/mailtoe
src/stamp-h1
